.input-params-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.input-params-view>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}

.input-params-view .left {
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    padding-right: 25px;
    margin-right: 25px;
}

.input-params-view .right {
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    padding-left: 25px;
    margin-left: 25px;
}

.input-params-view .bottom {
    width: 100%;
    margin-top: 20px;
}