.input-params-view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.input-params-view > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}

.input-params-view .left {
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    padding-right: 25px;
    margin-right: 25px;
}

.input-params-view .right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    max-height: 100vh;
}