.input-params-view {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    padding: 20px;
}

.input-params-view.right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    max-height: 100vh;
}