.input-check-box-list-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.check-box-list-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.check-box-list-item input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.check-box-list-item label {
    cursor: pointer;
    user-select: none;
}
