.block-preview-item-component {
    /* 隙間（格子）を可視化するためのアイテムごとの背景色指定 */
    background-color: #222;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-preview-item-component img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.block-preview-item-component .no-img-icon,
.block-preview-item-component .no-data-icon {
    position: relative;
    width: 12px;
    height: 12px;
}

.block-preview-item-component .no-img-icon::before,
.block-preview-item-component .no-img-icon::after,
.block-preview-item-component .no-data-icon::before,
.block-preview-item-component .no-data-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
}

.block-preview-item-component .no-img-icon::before,
.block-preview-item-component .no-data-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.block-preview-item-component .no-img-icon::after,
.block-preview-item-component .no-data-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.block-preview-item-component .no-img-icon::before,
.block-preview-item-component .no-img-icon::after {
    background-color: #aaa;
}

.block-preview-item-component .no-data-icon::before,
.block-preview-item-component .no-data-icon::after {
    background-color: #ff5555;
}
